# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Python cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# SQLite databases temporanei
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Environment variables
.env

# Backup temporanei
*.bak
*.tmp